In [3]:
with open('config/pg_conn.txt') as conn_details:
    conn_str_psyco = conn_details.readline()
    conn_str_sqlalchemy = conn_details.readline()

import pandas as pd
import pandas.io.sql as psql
import psycopg2 as pg
from sqlalchemy import create_engine
import sqlalchemy as sa
import os
import glob

In [4]:
engine = create_engine(conn_str_sqlalchemy)

In [40]:
SPEC_SCHEMA = 'dhs_survey_specs'
DATA_SCHEMA = 'dhs_data_tables'

#TABLESPEC_TABLENAME = 'table_specs_blank' #'dhs_table_specs_flat'
TABLESPEC_TABLENAME = 'dhs_table_specs_flat'
#VALUESPEC_TABLENAME = 'value_specs_blank' #'dhs_value_descs'
VALUESPEC_TABLENAME = 'dhs_value_descs'
#SURVEYLIST_TABLENAME = 'dhs_survey_listing_backup'
SURVEYLIST_TABLENAME = 'dhs_survey_listing'

TABLE_SPEC_TABLE = ".".join((SPEC_SCHEMA, TABLESPEC_TABLENAME))
VALUE_SPEC_TABLE = ".".join((SPEC_SCHEMA, VALUESPEC_TABLENAME))
SURVEYLIST_TABLE = ".".join((SPEC_SCHEMA, SURVEYLIST_TABLENAME))

STAGING_FOLDER = "/mnt/c/Users/harry/OneDrive - Nexus365/Informal_Cities/DHS_Data_And_Prep/Staging"

In [5]:
table_name = "REC01"

In [62]:
r = engine.execute("""SELECT
    tablename,
    indexname,
    indexdef
FROM
    pg_indexes
WHERE
    schemaname = 'dhs_data_tables'
ORDER BY
    tablename,
    indexname;""")

In [8]:
db_helper = TableDataHelper(conn_str=conn_str_sqlalchemy, table_spec_table=TABLESPEC_TABLENAME,
                             value_spec_table=VALUESPEC_TABLENAME, spec_schema=SPEC_SCHEMA,
                           data_schema=DATA_SCHEMA, dry_run=True)

In [9]:
db_helper._does_data_table_exist("RECHEM")

True

In [10]:
db_helper._is_dry_run

True

In [163]:
db_helper._is_dry_run = False

In [11]:
r = db_helper.create_data_table("RECHEM")
print(r)

Skipped existing index surveyid_rechem
Skipped existing index hhid_rechem
Skipped existing index idxhe_rechem
Skipped existing covering index allidx_rechem
Skipped existing secondary covering index twoidx_rechem
Would create table with

            CREATE TABLE dhs_data_tables."RECHEM"(surveyid character varying(3) COLLATE pg_catalog."default",
hhid character varying(12) COLLATE pg_catalog."default",
idxhe character varying(2) COLLATE pg_catalog."default",
sh63 character varying(1) COLLATE pg_catalog."default",
sh64 character varying(1) COLLATE pg_catalog."default",
sh65 character varying(1) COLLATE pg_catalog."default",
sh66 character varying(1) COLLATE pg_catalog."default",
sh67 character varying(1) COLLATE pg_catalog."default",
sh68 character varying(2) COLLATE pg_catalog."default",
sh69 character varying(3) COLLATE pg_catalog."default",
sh70 character varying(3) COLLATE pg_catalog."default",
sh71 character varying(1) COLLATE pg_catalog."default",
sh72 character varying(1) COLLATE pg_catalog."default",
sh73 character varying(1) COLLATE pg_catalog."default",
sh74 character varying(1) COLLATE pg_catalog."default",
sh75 character varying(1) COLLATE pg_catalog."default")
            TABLESPACE pg_default;
            ALTER TABLE dhs_data_tables."RECHEM" OWNER to admin;
 then create indices with

In [195]:
r = engine.execute(f'SELECT * FROM dhs_data_tables."RECH1" LIMIT 0')

In [204]:
pd.read_sql(f"""
            SELECT LOWER(name) AS name, MAX(len) AS maxlen, MAX(start) as start
            FROM {TABLE_SPEC_TABLE}
            WHERE recordname = '{table_name}' AND lower(name) LIKE '%id%'
            GROUP BY name""", con=engine)

     name  maxlen  start
0  aidsex       1    157
1  caseid      18      1

In [184]:
whats_needed.loc[-1] = ('surveyid', 'Item', '3', 0)
whats_needed.index = whats_needed.index + 1  # shifting index
whats_needed.sort_index(inplace=True)

In [186]:
whats_needed.loc[len(whats_needed)] = ('data', 'Item', '', 999999999)

In [16]:
length_specs = pd.read_sql(f"""
            SELECT 
	            lower(s.name) AS name, MAX(s.len) as req_len, 
	            MAX(i.character_maximum_length) as actual_len
            FROM 
                {TABLE_SPEC_TABLE} s
            INNER JOIN 
                information_schema.columns i
            ON 
                s.recordname = i.table_name 
                AND 
                'dhs_data_tables'=i.table_schema 
                AND 
                lower(s.name)=i.column_name
            WHERE s.recordname='MREC01'
            GROUP BY s.name"""
        , con=engine)

In [20]:
to_widen = length_specs[length_specs['req_len']>length_specs['actual_len']]

In [162]:
from collections import defaultdict

In [229]:
test_file = os.path.join(STAGING_FOLDER, "tables", "248.ETIR51.RECH4.csv")
#test = pd.read_csv(test_file, converters=defaultdict(lambda i: str)).fillna('')
test = pd.read_csv(test_file, dtype=str).fillna('')
test.columns = test.columns.str.lower()
test['surveyid'] = '248'
test = test.head()

In [230]:
test.set_index([c for c in test.columns if 'id' in c], inplace=True)
test

                            hml12 hml13 hml14 hml15 hml16 hml17 hml18 hml19  \
hhid         idxh4 surveyid
        1 17 1     248          0     0                26     1           0
             2     248          0     0                22     1     0     0
             3     248          0     0                 5     0           0
             4     248          0     0                 1     0           0
             5     248          0     0                18     1           0

                            sh03 sh10 sh11 sh12 sh13 sh14 sh15 sh16 sh17 sh18  \
hhid         idxh4 surveyid
        1 17 1     248         1         0         0    0
             2     248         2         0         0    0
             3     248         3    1    2    1    1    0
             4     248         3    1    2    1    1
             5     248         8         0         0    1    5    1    5    1

                            sh19 sh20
hhid         idxh4 surveyid
        1 17 1     248
             2     248
             3     248
             4     248              3
             5     248         4

In [203]:
conn = engine.raw_connection()
cursor = conn.cursor()

In [204]:
import io, csv

In [210]:
buffer = io.StringIO()
test.to_csv(buffer, sep='\t', header=False, index=False)
buffer.seek(0)

0

In [212]:
test

,hhid,idxh4,surveyid,data
0,1 17,1,248,"{""hml12"": ""0"", ""hml13"": ""0"", ""hml14"": """", ""hml..."
1,1 17,2,248,"{""hml12"": ""0"", ""hml13"": ""0"", ""hml14"": """", ""hml..."
2,1 17,3,248,"{""hml12"": ""0"", ""hml13"": ""0"", ""hml14"": """", ""hml..."
3,1 17,4,248,"{""hml12"": ""0"", ""hml13"": ""0"", ""hml14"": """", ""hml..."
4,1 17,5,248,"{""hml12"": ""0"", ""hml13"": ""0"", ""hml14"": """", ""hml..."

In [211]:
buffer.readline()

'        1 17\t1\t248\t"{""hml12"": ""0"", ""hml13"": ""0"", ""hml14"": """", ""hml15"": """", ""hml16"": ""26"", ""hml17"": ""1"", ""hml18"": """", ""hml19"": ""0"", ""sh03"": ""1"", ""sh10"": """", ""sh11"": ""0"", ""sh12"": """", ""sh13"": ""0"", ""sh14"": ""0"", ""sh15"": """", ""sh16"": """", ""sh17"": """", ""sh18"": """", ""sh19"": """", ""sh20"": """"}"\n'

In [207]:
cursor.copy_from(buffer, DATA_SCHEMA+"."+'"TEST_RH4"', sep='\t', columns=list(test.columns))
conn.commit()

In [99]:
test.to_sql(name='TEST_RH4', schema=DATA_SCHEMA, con=engine, index=False, if_exists='append')

In [7]:
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd
import warnings
import os

class TableDataHelper:
    _MAX_COLUMN_THRESHOLD = 1000
    def __init__(self, conn_str, 
        table_spec_table, value_spec_table, spec_schema,
        data_schema, dry_run=True):
        self._engine = create_engine(conn_str)
        self._TABLE_SPEC_TABLENAME = table_spec_table
        self._VALUE_SPEC_TABLENAME = value_spec_table
        self._SPEC_SCHEMA = spec_schema
        self._TABLE_SPEC_TABLE = ".".join([spec_schema, table_spec_table])
        self._VALUE_SPEC_TABLE = ".".join([spec_schema, value_spec_table])
        self._DATA_SCHEMA = data_schema
        self._is_dry_run = dry_run
        
        self._populate_JSON_table_list()
        
        self._known_tables = set()
        self._checked_column_tables = set()

    
    def _populate_JSON_table_list(self):
        json_tables = pd.read_sql(f"""
            SELECT DISTINCT table_name 
            FROM information_schema.columns 
            WHERE table_schema = '{self._DATA_SCHEMA}' AND data_type = 'jsonb'""",
                con=self._engine)
        self._json_tables = set(json_tables['table_name'])

    def _does_data_table_exist(self, table_name):
        if table_name in self._known_tables:
            return True
        exists = pd.read_sql(f"""
            SELECT EXISTS (
                SELECT FROM information_schema.tables 
                WHERE  table_schema = '{self._DATA_SCHEMA}'
                AND    table_name   = '{table_name}'
            );""", con=self._engine)['exists'][0]
        if exists:
            self._known_tables.add(table_name)
            return True
        return False


    def prepare_db_for_file(self, table_name):
        if not self._does_data_table_exist(table_name):
            self.create_data_table(table_name)
        else:
            self.check_cols_against_metadata(table_name)


    def create_data_table(self, table_name):
        """Creates a data table with all the columns that are currently specified in the metadata.
        
        As throughout this software, all columns are created with VARCHAR(n) type where n = the 
        maximum width currently specified for that table/column in any survey
        
        The exception if there are more than TableDataHelper._MAX_COLUMN_THRESHOLD columns 
        specified in the metadata, in which case only columns with "id" in the name will be 
        first-class columns, and a jsonb column named data will be added for storing the remainder."""
        column_clauses, is_json = self._get_column_clauses(table_name)
        create_stmt = f"""
            CREATE TABLE {self._DATA_SCHEMA}."{table_name}"({column_clauses})
            TABLESPACE pg_default;
            ALTER TABLE {self._DATA_SCHEMA}."{table_name}" OWNER to admin;"""
        if self._is_dry_run:
            return ("Would create table with \n" + create_stmt + "\n" 
            + " then create indices with " + self._create_or_replace_indices(table_name, is_json))
        else:
            r = self._engine.execute(create_stmt)
            if is_json:
                self._json_tables.add(table_name)
            index_sql = self._create_or_replace_indices(table_name, is_json)
            if len(index_sql) > 0:
                print("Executing the following to drop / recreate indices: \n" + index_sql)
                self._engine.execute(index_sql)
        

    def _get_column_clauses(self, table_name):
        """Gets the columns that a new data table should have, according to the metadata tables.
        
        Returns them as a string for use in a statement of the form 
        CREATE TABLE tablename (result) """
        
        # list all columns that are specified for this datatable in the survey metadata (unioned 
        # set across all surveys: not all surveys will have all columns)
        whats_needed = pd.read_sql(f"""
            SELECT lower(name) AS name, itemtype, MAX(len) AS length, MAX(start) AS start
            FROM {self._TABLE_SPEC_TABLE}
            WHERE recordname='{table_name}'
            GROUP BY name, itemtype
            ORDER BY start;
        """, con=self._engine)
        
        # In the case of some country-specific tables, where the columns are different in almost 
        # every survey, the number of columns becomes very large and horribly inefficient to store 
        # (it is sparse). In these cases we store those tables with a single JSONB column for the data 
        # plus the ID/joining columns as first-class columns
        is_json = False
        if len(whats_needed) > TableDataHelper._MAX_COLUMN_THRESHOLD:
            whats_needed = whats_needed[whats_needed['name'].str.contains('id')]
            whats_needed.loc[len(whats_needed)] = ('data', 'JSON', '', 99999999)
            is_json=True

        # of course the metadata tables don't specify surveyid so we add that manually
        whats_needed.loc[-1] = ('surveyid', 'Item', '3', 0)
        whats_needed.index = whats_needed.index + 1
        whats_needed.sort_index(inplace=True)
        
        def _clause_from_row(r):
            if r["itemtype"] == "JSON":
                type_clause = "jsonb"
            else:
                type_clause = f'character varying({r["length"]})'
            clause = f'{r["name"]} {type_clause} COLLATE pg_catalog."default"'
            return clause 

        # convert each row in the df to a clause for use in the CREATE TABLE statement
        clauses = list(whats_needed.apply(_clause_from_row, axis=1))
        return (",\n".join(clauses), is_json)


    def _create_or_replace_indices(self, table_name, is_json=False, replace_existing=False):
        # TODO create GIN index on any JSON columns?
        idx_sql_template = 'CREATE INDEX {0} ON {1}."{2}"({3});'
        idx_name_template = '{0}_{1}'
        clean_sql_template = 'DROP INDEX IF EXISTS {0}.{1};'

        res = self._engine.execute("SELECT relname FROM pg_class WHERE relkind='i';")
        existing_indices = [i[0] for i in res.fetchall()]

        tbl_cols = self._engine.execute(f'SELECT * FROM dhs_data_tables."{table_name}" LIMIT 0').keys()
        idx_fields = [c for c in tbl_cols if c.find('id') != -1]

        drop_idx_stmts = []
        idx_stmts = []

        for c in idx_fields:
            idx_name = idx_name_template.format(c, str.lower(table_name))
            idx_sql = idx_sql_template.format(idx_name, self._DATA_SCHEMA, table_name, c)
            if idx_name in existing_indices:
                if replace_existing:
                    drop_idx_stmt = clean_sql_template.format(self._DATA_SCHAME, idx_name)
                    drop_idx_stmts.append(drop_idx_stmt)
                    idx_stmts.append(idx_sql)
                    print("Replacing index " + idx_name)
                else:
                    print("Skipped existing index " + idx_name)
            else:
                idx_stmts.append(idx_sql)
                print("Adding index "+idx_name)
        
        # also create a single covering index on all joining columns
        if len(idx_fields) > 1:
            idx_name = idx_name_template.format("allidx", str.lower(table_name))
            idx_sql = idx_sql_template.format(idx_name, self._DATA_SCHEMA, table_name, ",".join(idx_fields))
            if idx_name in existing_indices:
                if replace_existing:
                    drop_idx_stmt = clean_sql_template.format(self._DATA_SCHEMA, idx_name)
                    drop_idx_stmts.append(drop_idx_stmt)
                    idx_stmts.append(idx_sql)
                    print("Replacing covering index " + idx_name)
                else:
                    print("Skipped existing covering index " + idx_name)
            else:
                idx_stmts.append(idx_sql)
                print("Adding covering index "+idx_name)
        
        # also create a covering index on the first two joining columns if there are three 
        # (or all except the last one, if there's more)
        # e.g. surveyid and caseid but not bidx (the cols are in the appropriate order in the CSVs)
        if len(idx_fields) > 2:
            idx_name = idx_name_template.format("twoidx", str.lower(table_name))
            idx_sql = idx_sql_template.format(idx_name, self._DATA_SCHEMA,
                                            table_name, ",".join(idx_fields[:-1]))
            if idx_name in existing_indices:
                if replace_existing:
                    drop_idx_stmt = clean_sql_template.format(self._DATA_SCHEMA, idx_name)
                    drop_idx_stmts.append(drop_idx_stmt)
                    idx_stmts.append(idx_sql)
                    print ("Replacing secondary covering index " + idx_name)
                else:
                    print ("Skipped existing secondary covering index " + idx_name)
            else:
                idx_stmts.append(idx_sql)
                print ("Adding secondary covering index " + idx_name)
        
        drop_indices_sql = "\n".join(drop_idx_stmts)
        create_indices_sql = "\n".join(idx_stmts)

        return drop_indices_sql + "\n" + create_indices_sql
  

    def get_db_survey_table_rowcount(self, surveyid, tablename):
        pass


    def check_and_update_column_width(self, schema_name, table_name, column_name, 
                                req_width, update_if_needed=False):
        """Check that a varchar(n) column in the database is at least req_width wide and widen it if not"""
        df = pd.read_sql(f'''
            SELECT character_maximum_length as maxlen 
            FROM information_schema.columns 
            WHERE table_name = '{table_name}' and column_name = '{column_name}';''', con=self._engine)
        current = df['maxlen'][0]
        if current < req_width and update_if_needed:
            print(f"Column {schema_name}.{table_name}.{column_name} will be widened from"+
                "{current} to {req_width}")
            sql = f'''ALTER TABLE {schema_name}."{table_name}" 
                        ALTER COLUMN {column_name} TYPE character varying({req_width})'''
            return self._engine.execute(sql)
        else:
            return current >= req_width


    def check_destination_col_widths(self, df, schema_name, table_name):
        """Check that for all object columns in the provided dataframe, the equivalent column 
        in the database is at least wide enough to hold it, and widen it if not."""
        obj_cols = df.select_dtypes(include=['object']).columns
        lengths = {col:(df[col].str.len().max()) for col in obj_cols}
        for col, incoming_length in lengths.items():
            self.check_and_update_column_width(schema_name, table_name, col, incoming_length, True)

    
    def check_missing_cols(self, table_name):
        """For a given data table, check the metadata tables to see what all the columns 
        needed are, and then check whether they all exist. Returns a dataframe of column names 
        that are missing from the table, if the table is not one with a JSONB column."""
         
        is_json = table_name in self._json_tables

        if is_json:
            data_cols_needed = pd.read_sql(f"""
                SELECT LOWER(name) AS name, MAX(len) AS maxlen, MAX(start) as start
                FROM {self._TABLE_SPEC_TABLE}
                WHERE recordname = '{table_name}' AND lower(name) LIKE '%id%'
                GROUP BY name""", con=self._engine)
            data_cols_needed.loc[len(data_cols_needed)] = ('data', 99999999, 99999999)

        else:
            data_cols_needed = pd.read_sql(f"""
                SELECT LOWER(name) AS name, MAX(len) AS maxlen 
                FROM {self._TABLE_SPEC_TABLE}
                WHERE recordname = '{table_name}'
                GROUP BY name
                ORDER BY name, start""", con=self._engine)
            
        data_cols_present = pd.read_sql(f"""
            SELECT table_name, column_name, data_type 
            FROM information_schema.columns 
            WHERE table_schema = '{self._DATA_SCHEMA}' ORDER BY table_name, column_name""", 
            con=self._engine)
        
        data_cols_not_present = data_cols_needed[~data_cols_needed['name'].isin(
            data_cols_present['column_name'])]

        #and_not_in_json_tbl = data_cols_not_present[~data_cols_not_present['recordname'].isin(
        #    self._json_tables)]
        return data_cols_not_present
    

        

    def add_varchar_col_to_table(self, schema_name, table_name, column_name, req_width):
        sql = f"""
            ALTER TABLE {schema_name}."{table_name}" 
            ADD COLUMN {column_name.lower()} CHARACTER VARYING ({req_width})"""
        return engine.execute(sql)


    def delete_table_entries_for_survey(surveyid, table_name, dry_run=True):
        # only drop ones for matching columns because we get different ones from the IR and MR files
        if dry_run:
            print(f"Would drop all data rows for survey {surveyid} from {table_name}")
        else:
            print(f"Dropping all data rows for survey {surveyid} from {table_name}")
            meta = sa.MetaData()
            tablespec_db = sa.Table(table_name, meta, schema=self._DATA_SCHEMA, 
                                    autoload=True, autoload_with=engine)
            cond = tablespec_db.c.surveyid == surveyid
            delete = tablespec_db.delete().where(cond)  
            res = engine.execute(delete)